{% extends '../base.html' %}

{% block title %}{{ _("Signin") }} | {% end %}

{% block content %}
<div class="box">
    <header>{{ _("Signin") }}</header>
    <form class="form-horizontal" method="post">
        <fieldset>
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="username">{{ _("Username") }}</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="username" name="username" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">{{ _("Password") }}</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password" required>
                </div>
            </div>
            {% raw handler.get_ayah_html() %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ _("Signin") }}</button>
            </div>
        </fieldset>
    </form>
</div>
{% end %}

{% block sidebar %}
<div class="box">
    <header>{{ _("Don't have an account?") }}</header>
    <a href="/account/signup?next={{ url_escape(request.uri) }}" class="btn btn-success">{{ _("Signup") }}</a>
</div>
{% end %}