{% extends 'base.html' %}

{% block title %}{{ member['name'] }} | {% end %}
{% block canonical %}member/{{ member['name'] }}{% end %}

{% block content %}
<div class="box">
    <div id="profile_main">
        <img src="{{ handler.get_avatar(member, size=72) }}" class="avatar" />
        {% if member['role'] == -1 %}
        <span class="label label-important pull-right">{{ _("Deactived") }}</span>
        {% elif member['role'] > 1 %}
        <span class="label label-important pull-right">{{ _(handler.settings['role'][member['role']]) }}</span>
        {% end %}
        <p class="username">{{ member['name'] }}</p>
        <p>{{ _("Join at") }} {{ handler.format_time(member['created']) }}</p>
        {% if member['website'] %}
        <p><a href="{{ member['website'] }}" rel="nofollow">{{ member['website'] }}</a></p>
        {% end %}
    </div>
    {% if member['description'] %}
    <footer>
        <p>{% raw escape(member['description']).replace('\n','<br />') %}</p>
    </footer>
    {% end %}
</div>

{% if topics.count() %}
<div class="box no_block">
    <header>{{ _("Topics") }}</header>
    {% module topic_list(topics) %}
    <a href="/member/{{ member['name'] }}/topics">{{ _("More") }} >></a>
</div>
{% end %}

{% if liked_topics %}
<div class="box no_block">
    <header>{{ _("Like") }}</header>
    {% module topic_list(liked_topics) %}
</div>
{% end %}

{% if replies.count() %}
<div class="box">
    <header>{{ _("Replies") }}</header>
    <table class="table table-striped">
        <tbody>
        {% for reply in replies %}
        <tr>
            <td>
                <a href="/topic/{{ reply['topic'] }}">{% raw reply['content_html'] %}</a>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
</div>
{% end %}

{% end %}

{% block sidebar %}
{% if current_user %}
<div class="box">
    <header>{{ _("Member") }}</header>
    {% if current_user != member %}
    {% if member['name_lower'] in current_user['follow'] %}
    <a href="/member/{{ member['name'] }}/unfollow" class="btn">{{ _("Unfollow") }}</a>
    {% else %}
    <a href="/member/{{ member['name'] }}/follow" class="btn btn-success">{{ _("Follow") }}</a>
    {% end %}
    {% if member['name_lower'] in current_user['block'] %}
    <a href="/member/{{ member['name'] }}/unblock" class="btn">{{ _("Unblock") }}</a>
    {% else %}
    <a href="/member/{{ member['name'] }}/block" class="btn btn-warning">{{ _("Block") }}</a>
    {% end %}
    {% end %}
    {% if handler.check_role(owner_name=member['name'], return_bool=True) %}
    <a href="/member/{{ member['name'] }}/remove" class="btn btn-danger">{{ _("Remove Member") }}</a>
    {% end %}
    {% if handler.check_role(return_bool=True) %}
    <footer>
        <form method="post" action="/member/{{ member['name'] }}/role">
            <select name="role" id="role">
                {% if member['role'] > -1 %}
                <option value="-1">{{ _("Deactive") }}</option>
                {% end %}
                {% for role in range(1,4) %}
                {% if role != member['role'] and role < current_user['role'] %}
                <option value="{{ role }}">{{ _(handler.settings['role'][role]) }}</option>
                {% end %}
                {% end %}
                {% if member['role'] != 3 and current_user['role'] == 3 %}
                <option value="3">{{ _(handler.settings['role'][3]) }}</option>
                {% end %}
            </select>
            <button type="submit" class="btn btn-primary">{{ _("Change Role") }}</button>
        </form>
    </footer>
    {% end %}
</div>
{% end %}
{% end %}