{% for topic in topics %}
{% set author = handler.get_member(topic['author']) %}
<div class="
list
{% if current_user and author['name_lower'] in current_user['block'] %}
block
{% end %}
">
    {% set reply_nums = handler.db.replies.find({'topic': str(topic['_id'])}).count() %}
    {% set last_page = handler.get_page_num(reply_nums, handler.settings['replies_per_page']) %}
    {% raw handler.get_avatar(author) %}
    <div class="list-content">
        <p>
            <a href="/topic/{{ topic['_id'] }}?p={{ last_page }}#reply{{ reply_nums }}">{{ topic['title'] }}</a>
    
            <a href="/topic/{{ topic['_id'] }}?p={{ last_page }}#reply{{ reply_nums }}" class="badge
            {% if current_user and current_user['name'] == author['name'] %}badge-warning{%end%}
             pull-right">{{ reply_nums }}</a>
        </p>
        <p>
            {{ _("Created by") }}
            <a href="/member/{{ author['name'] }}">{{ author['name'] }}</a> | 
            {% if 'last_reply_by' in topic %}
            <a href="/member/{{ topic['last_reply_by'] }}">{{ topic['last_reply_by'] }}</a>
            {{ _("replied at") }} {% raw handler.format_time(topic['last_reply_time']) %} | 
            {% end %}
            {{ _("Posted in") }} <a href="/node/{{ topic['node'] }}">{{ handler.get_node(topic['node'])['title'] }}</a>
        </p>
    </div>
</div>
{% end %}
