<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} | Gather</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}
  {% if config.GOOGLE_ANALYTICS and not config.DEBUG %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{config.GOOGLE_ANALYTICS}}']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    {% if g.user %}
    _gaq.push(['_setCustomVar', 1, 'UserType', 'Member', 2]);
    {% else %}
    _gaq.push(['_setCustomVar', 1, 'UserType', 'Guest', 2]);
    {% endif %}
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}
  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% block head %}
  {% endblock %}
</head>
<body>
{% if g.user and g.user.css %}
  <style>
    {{ g.user.css|safe }}
  </style>
{% endif %}
{% if g.user %}
  <script>
    window.username = "{{ g.user.username }}";
    window.feeling_lucky = {{ g.user.feeling_lucky|tojson }};
  </script>
{% endif %}
<div id="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div id="nav-wrapper">
<div id="nav">
  <a href="/" id="site-name">{{ config.FORUM_TITLE }}</a>
  {% from "snippet/nav.html" import navigation %}
  {% block nav %}{{ navigation() }}{% endblock %}
</div>
</div>
<div id="wraps">
  {% block content %}

    <div id="main">
      {% block main %}
      {% endblock %}
    </div>

    <div id="sidebar">
      {% block sidebar %}
      {% endblock %}
      <div class="card">
        {% with status = site_status() %}
        <header>站点统计</header>
        <ul>
          <li>用户： {{ status.account }}</li>
          <li>节点： {{ status.node }}</li>
          <li>话题： {{ status.topic }}</li>
          <li>回复： {{ status.reply }}</li>
        </ul>
        {% endwith %}
      </div>
    </div>

  {% endblock %}
</div>
<footer id="site-footer">
  Powered by <a href="https://github.com/whtsky/Gather/tree/master" class="dark-link">Gather v3</a> |
  Made by <a href="http://whouz.com" class="dark-link">whtsky</a>
</footer>
{% block js %}
{% endblock %}
</body>
</html>