p#page-title Nodes
.container
  #users_cloud
    p
    ==icon "search"
    |&nbsp;
    input#cloud-find placeholder="find your node here..."

    - Node.all.shuffle.each do |u|
    	a href=("/node/" + u.slug) rel=(rand(99)) 
          =u.name
          span=u.slug.downcase
javascript:
    $("document").ready(function(){
        topic.cloud_find();
        $.fn.tagcloud.defaults = {
          size: {start: 1, end: 4, unit: 'em'},
          color: {start: '#cde', end: '#f52'}
        };

        $(function () {
          $('#users_cloud a').tagcloud();
        });
    });
