/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * require_self: Puts the CSS contained within this file at the precise location (puts this command
 * at the top of the generated css file
 * require_tree . means, that requiring all stylesheets from the current directory.
 *
 *= require_self
 *= require font-awesome.min
 *= require jquery.qeditor
*/
* {
	outline: none;
}
hr.no-view {
	margin: -0.5em 0 4em 0;
	border: 0;
	background: rgb(218, 218, 218);
}
.f-left {
	float: left !important;
}
.f-right {
	float: right !important;
}/*
@media screen and (min-width: 755px){
	.navi-btn {
		font-size: 0.5em;
	}
}*/
@media screen and (max-width: 755px){
	.navi-btn {
		font-size: 0.7em;
	}
}
@media screen and (max-width: 615px){
	.navi-btn {
		font-size: 0.5em;
		float: none !important;
		margin-bottom: 0.5em;
		width: 1.5em;
		text-align: center;
		position: absolute;
		right: 0.5em;
		top: 4.5em;
	}
	#node-btn {
		top: 1em;
	}
	.topic-list-info {
		clear: both;
		padding: 0 5% !important;
	}
	.topic-list-item {
		margin-top: 0.8em;
		margin-bottom: -0.7em;
	}
	.topic-list-avatar {
		left: 1.2em;
	}
	#body .container {
		padding: 1em 1em !important;
	}
	.inner-box {
		padding: 2em 1.5em !important;
	}
	.topic-avatar {
		position: relative;
		top: -0.8em !important;
		right: -0.8em !important;
	}
	.reply-avatar {
		position: relative;
		right: -1.5em !important; 
		top: 0 !important;
	}
	#body #page-title {
		position: relative;
		font-size: 2.1em !important;
		top: 0.35em;
		left: 1.4em;
		padding-right: 2.8em;
	}
}

html, body {
	padding: 0;
	margin: 0;
	font-family: "ff-enzo-web", "Hiragino Sans GB", "Lucida Grande", "Luxi Sans", "DejaVu Sans", Tahoma, STHeiti, sans-serif !important;
}
html {
	background: #86C8D1;
}
#header {
	background: #CBE7EB;
	width: 100%;
	top: 0;
	height: 12em;
	position: absolute;
	color: white;
}
#header a {
	color: white;
	text-decoration: none;
}
#header span {
	padding-left: 0.3em;
	font-size: 0.5em;
}
#header .navi {
	list-style: none;
	padding: 2em 8%;
	font-size: 3em;
}
#header .navi li {
	float: left;
	margin-left: 0.5em;
	background: #076E88;
	padding: 0.5em;
	border-radius: 1em;
	transition: all 0.3s;
}
#header .navi li:hover {
	background: #F25F6E;
}
.logo {
	padding-top: 7em !important;
	margin-top: -6em;
	position: relative;
	left: -0.5em;
	font-size: 1em;
	font-weight: 600;
	width: 2.8em;
}
#body {
	width: 90%;
	margin: 19em auto 0px auto;
	background: #468B96;
	border-radius: 3em 3em 0em 0em;
	padding: 0px;
	color: #FFF;
}
#body #page-title {
	position: relative;
	font-size: 2.8em;
	top: 0.35em;
	left: 1.4em;
	padding-right: 2.8em;
}
#body .container {
	background: #468B96;
	position: relative;
	top: -1em;
	padding: 1em 3em;
	color: #FFF;
	font-family: "museo-slab","Hiragino Sans GB","Lucida Grande","Luxi Sans","DejaVu Sans",Tahoma,STHeiti,sans-serif !important;
}
#body .container a{
	color: white;
}
.topic-list-item {
	padding-bottom: 0.3em;
}
.topic-list-avatar {
	float: left;
	position: relative;
	top: -0.8em;
	margin-right: 1em;
}
.topic-list-avatar a img {
	border-radius: 100px;
	height: 80px;
	background: white;
}
.topic-list-count {
	background: #9CBFC3;
	font-size: 1em;
	width: 2em;
	padding: 0.4em 0em;
	text-align: center;
	border-radius: 100px;
	position: absolute;
	right: 1.9em;
}
.topic-list-count a {
	text-decoration: none;

}
.topic-list-info {
	padding: 0em 12%;
}
.topic-list-title {
	font-size: 1.5em;
	line-height: 1em;
}
.topic-list-description {
	position: relative;
	top: -0.85em;
}
.inner-box {
	background: rgb(61, 121, 136);
	border-radius: 2em;
	padding: 2em 3em;
	min-height: 8em;
	margin-top: 1.5em;
}
.inner-box a {
	word-break: break-all;
}
.topic-avatar img {
	border-radius: 100px;
	height: 80px;
	background: white;
}
.reply-avatar img {
	margin: 1em;
	border-radius: 100px;
	height: 80px;
	background: white;
}
.topic-avatar {
	position: relative;
	right: -5.5em;
	top: -1.5em;
}
.reply-avatar {
	position: relative;
	right: -6.5em;
	top: -5.8em;
}
.reply-info {
	text-align: right;
}
#settings-css, #settings-info, #login-form p input, #signup-form p input, #settings-form p input, #settings-form p textarea {
	font-size: 2em;
	padding: 0.5em 1em;
	width: 80%;
	border-radius: 1em;
	border: 0px none;
	font-family: "museo-slab","Hiragino Sans GB","Lucida Grande","Luxi Sans","DejaVu Sans",Tahoma,STHeiti,sans-serif !important;
	margin: auto;
	margin-bottom: 0.3em; 
	transition: all 0.3s;
	background: rgb(26, 118, 126);
	color: white;
}
#settings-info:focus, #settings-css:focus, #settings-info:hover, #settings-css:hover, #settings-form p textarea:focus, #login-form p input:focus, #signup-form p input:focus, #settings-form p input:focus, #settings-form p textarea:hover, #login-form p input:hover, #signup-form p input:hover, #settings-form p input:hover {
	box-shadow: 0 0 1px rgb(88, 34, 124);
}

#login-form p, #signup-form p, #settings-form p {
    text-align: center;
}
#login-btn, #login-btn, #settings-btn {
	background: rgb(26, 118, 126) !important;
}
.user-box {
	position: absolute;
	top: 10em;
	font-size: 0.3em;
	margin: 0 -1.7em;
	width: 12.7em;
	font-weight: 300;
	word-break: break-all;
	background: rgb(102, 136, 158);
	transition: all 0.3s;
}
.user-box:hover {
	box-shadow: 0 0 18em rgb(80, 81, 83) inset;
}
.user-box p {
	text-align: center;
	margin: 0.8em 0;
}
.user-box a {
	text-decoration: underline !important;
	font-weight: 700;
}
.user-box-btns {
	font-size: 1.2em;
}
.user-box-btns a {
	padding: 0 0.5em;
	text-decoration: none !important;
	transition: all 0.3s;
}
.user-box-btns a:hover {
	text-shadow: 0px 0px 10px rgb(34, 150, 187);
}
.user-box-avatar {
	border-radius: 100em;
	text-align: center;
 }
.user-box-avatar img {
	border-radius: 100em;
	height: 6em;
	width: 6em;
	background: white;
}
#users_cloud {
	word-break: break-all;
}
#users_cloud a {
	padding: 0 0.1em;
}
.view-container {
	background: #64A5AF !important;
}
.view-avatar {
	text-align: center;
}
.view-avatar img {
	border-radius: 100em;
	height: 96px;
	background: white;
}
.view-site, .view-info {
	text-align: center;
}
.view-list {
	background: #468B96;
	margin: 2em -3em;
	padding: 0.5em 3em;
}
.page-ctrl {
	clear: both;
	list-style: none;
	margin: 2em 2em;
	position: relative;
	height: 3em;
}
.page-ctrl a {
	background: rgb(109, 180, 155);
	padding: 0.5em 0.8em;
	font-size: 1.5em;
	text-decoration: none !important;
	border-radius: 0.8em;
	transition: all 0.3s;
}
.page-ctrl a:hover {
	background: #F25F6E;
}