/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * require_self: Puts the CSS contained within this file at the precise location (puts this command
 * at the top of the generated css file
 * require_tree . means, that requiring all stylesheets from the current directory.
 *
 *= require_self
 *= require font-awesome.min
*/

.f-left {
	float: left !important;
}
.f-right {
	float: right !important;
}/*
@media screen and (min-width: 755px){
	.navi-btn {
		font-size: 0.5em;
	}
}*/
@media screen and (max-width: 755px){
	.navi-btn {
		font-size: 0.7em;
	}
}
@media screen and (max-width: 615px){
	.navi-btn {
		font-size: 0.5em;
		float: none !important;
		width: 2.5em;
		text-align: center;
		position: absolute;
		right: 1.5em;
		top: 4.5em;
	}
	#node-btn {
		top: 1em;
	}
}

html, body {
	background: #CECECE;
	padding: 0;
	margin: 0;
	font-family: "BotonProB46216", "Hiragino Sans GB", "Lucida Grande", "Luxi Sans", "DejaVu Sans", Tahoma, STHeiti, sans-serif !important;
}
#header {
	background: #FFF;
	width: 100%;
	top: 0;
	height: 12em;
	position: absolute;
	color: white;

}
#header a {
	color: white;
	text-decoration: none;
}
#header span {
	padding-left: 0.3em;
	font-size: 0.5em;
}
#header .navi {
	list-style: none;
	padding: 2em 8%;
	font-size: 3em;
}
#header .navi li {
	float: left;
	margin-left: 0.5em;
	background: #254F85;
	padding: 0.5em;
	border-radius: 1em;
	transition: all 0.3s;
}
#header .navi li:hover {
	background: #F25F6E;
}
.logo {
	padding-top: 7em !important;
	margin-top: -6em;
	position: relative;
	left: -0.5em;
	font-size: 1em;
}/*
.navi-btn {
	font-size: 1em;
}*/
#body {
	width: 90%;
	margin: 19em auto 0px auto;
	background: #DB1337;
	border-radius: 3em 3em 0em 0em;
	padding: 0px;
	color: #FFF;
}
#body #page-title {
	position: relative;
	font-size: 2.8em;
	top: 0.35em;
	left: 1.1em;
	padding-right: 2em;
}
#body .container {
	background: #A82020;
	position: relative;
	top: -1em;
	padding: 1em 3em;
	color: #FFF;
}
#body .container a{
	color: white;
}
.topic-list-item {
	margin-bottom: 1.5em;
}
.topic-list-avatar {
	float: left;
}
.topic-list-avatar a img {
	border-radius: 100px;
}
.topic-list-count {
	background: rgb(243, 117, 117);
	font-size: 1em;
	width: 2em;
	padding: 0.4em 0em;
	text-align: center;
	border-radius: 100px;
	position: absolute;
	right: 1.9em;
}
.topic-list-count a {
	text-decoration: none;

}
.topic-list-info {
	padding: 0em 12%;
}
.topic-list-title {
	font-size: 1.5em;
	line-height: 1em;
}
.topic-list-description {
	position: relative;
	top: -0.85em;
}
.inner-box {
	background: rgb(116, 0, 0);
	border-radius: 2em;
	padding: 2em 3em;
	min-height: 5em;
	margin-top: 0.7em;
}
.topic-avatar img {
	border-radius: 100px;
}
.reply-avatar img {
	margin: 1em;
	border-radius: 100px;
}
.reply-info {
	text-align: right;
}



