#profile h3,#profile h2
{
    border-bottom:solid medium #dddddd;
}
#profile .left-side {
    width: 20%;
    float: left;
}
#profile .left-side .avatar img {
    width: 100%;
}
#profile .right-side {
    float: right;
    width: 78%;
}