.tags a {
    line-height: 22px;
    color: white;
    font-weight: bold;
    font-size: 11px;
    padding: 1px 4px;
    background-color: #BFBFBF;
    border-radius: 3px;
    -moz-border-radius: 3px; }
table.item-list {
    border: none;
    margin-bottom: 0; }
table.item-list th, table.item-list table.item-list td {
    padding: 12px 12px 11px;
    line-height: 20px; }
table.item-list td span.domain {
    font-weight: bold; }
table.item-list td h3 {
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 18px; }
table.item-list td.avatar {
    padding-right: 0;
    width: 48px;
    line-height: 0; }
table.item-list td.avatar img {
    height: 48px;
    width: 48px; }
table.item-list td.reply-count a {
    color: #FFF;
    background-color: #BFBFBF;
    padding: 2px 9px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none; }
table.item-list td.reply-count a:visited {
    background-color: #EEE; }
table.item-list td.reply-count a:hover {
    background-color: #AAA; }
table.item-list th + th, table.item-list table.item-list td + td {
    border-left: none; }
table.item-list td.last {
    text-align: right; }
table.clear-table {
    padding: 0;
    margin: 0;
    border: none; }
table.clear-table td {
    padding: 0;
    margin: 0;
    border: none;
    line-height: 20px; }
table.clear-table td.avatar{
    padding: 0 10px;
}
table.center-table td {
    text-align: center;
    margin:0 auto;}
body
{
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url(/static/img/backgroud.png);
}
#nav-in
{
    min-width:1000px;
}
.sidebar-nav
{
    padding: 9px 0;
}

.left {
    float: left; }

.right {
    float: right; }

.clearbox {
    overflow: hidden; }

.clearbox::after {
    clear: both; }
.box {
    background-color: white;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 0 1px #DDD;
    -webkit-box-shadow: 0 0 0 1px #DDD;
    box-shadow: 0 0 0 1px #DDD; }

section.box.span16 {
    width: 910px; }
section.box .span4 {
    width: 205px; }
section.box .span12 {
    width: 685px; }
section.box .span16 {
    width: 910px; }
section {
    overflow: hidden;
    padding: 14px; }
section#notifications, section#resources, section#topics, section#replies {
    padding: 0; }
section footer {
    margin: 0;
    padding: 10px; }

#profile {
    overflow: hidden; }
#profile .left-side {
    width: 160px;
    float: left; }
#profile .left-side .avatar img {
    width: 160px;
    height: 160px; }
#profile .right-side {
    float: right;
    width: 480px; }
#profile ul.nice-list {
    list-style: none;
    margin-left: 9px; }
#profile ul.nice-list ul.nice-list li {
    line-height: 22px; }
.big {
    font-size: 18px;
}
a.dark:link, a.dark:visited, a.dark:active {
    color: #666;
    text-decoration: none;
}
a.dark:hover {
    color: #385f8a;
    text-decoration: none;
}
.sp10 {
    width: 10px;
    display: inline-block;
}
.user_name {
    font-size: 20px;
    text-align: center;
    margin:0 auto;
}
.navbar {
    margin-bottom: 0px;
}
.navbar .container {
    width: 960px;
    margin: 0px auto;
}
.navbar .navbar-search {
    margin-top: 7px;
}
.navbar .search-query {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #d0d6db url('/static/img/search.png') no-repeat 4px 4px;
    padding: 4px 5px 4px 22px;
    color: #666;
    border: 0px;
}
.navbar .search-query:hover {
    background-color: #fff;
    color: #666;
}
.navbar .search-query:focus, .navbar .search-query.focused {
    background-color: #fff;
    padding: 4px 5px 4px 22px;
    color: #000;
}
a.mark:hover {
    background-color: #F89406; }
.howmany {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 5px 3px 5px;
    background-color: #f5f5ff;
    border: 1px solid #f0f0ff;
    color: #99a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
table.tag-list td.count{
    width: 10%;
    text-align: center;
}
table.tag-list {
    width: 100%;
}
#wmd-input_speech {
    padding: 0 !important;
    width: 25px !important;
    height: 30px !important;
    float: none !important;
    border: none !important;
    background: transparent !important;
    font-size: 16px !important;
    padding-right: 5px !important;
}

.toolbar_button {
    width: 6px;
    min-width: 0;
    float: left;
    border: none;
    padding: 0 12px;
    background-color: transparent;
}

.toolbar_button:hover {
    background-color: #ccc !important;
}
.col_fade {
    color: #999;
}