.tags a {
    line-height: 22px;
    color: white;
    font-weight: bold;
    font-size: 11px;
    padding: 1px 4px;
    background-color: #BFBFBF;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
table.item-list tr {
    border-top:1px solid #DDD
}
table.item-list tr:first-child {
    border-top:none
}
table.item-list td {
    padding:10px;
}
table.item-list td td.time{
    padding:10px;
    vertical-align:top
}
table.item-list td.avatar {
    width:48px;
    height:48px;
    padding-right:0;
    line-height:0
}
table.item-list td.reply-count {
    text-align:right;
    padding-left:0
}
table.item-list td.reply-count a {
    color:#FFF;
    background-color:#BFBFBF;
    padding:2px 9px;
    -moz-border-radius:10px;
    border-radius:10px;
    font-size:11px;
    font-weight:bold;
    text-decoration:none
}
table.item-list td.reply-count a:visited {
    background-color:#EEE
}
table.item-list td.reply-count a:hover {
    background-color:#AAA
}
table.item-list h3 {
    font-size:100%;
    padding-bottom:10px;
    line-height:18px
}
table.clear-table {
    padding: 0;
    margin: 0;
    border: none; }
table.clear-table td {
    padding: 0;
    margin: 0;
    border: none;
    line-height: 20px; }
table.clear-table td.avatar{
    padding: 0 10px;
}
.center {
    text-align: center;
    margin:0 auto;
}
#Wrapper{
    background-color: #EEE;
    background-image: url(/static/img/backgroud.png);
    font-size: 13px;
}
.sidebar-nav{
    padding: 9px 0;
}

.left {
    float: left; }

.right {
    float: right; }

.clearbox {
    overflow: hidden; }

.clearbox::after {
    clear: both; }
.box {
    background-color: white;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 0 1px #DDD;
    -webkit-box-shadow: 0 0 0 1px #DDD;
    box-shadow: 0 0 0 1px #DDD;
}

section {
    overflow: hidden;
    padding: 14px;
}
section footer {
    margin: 0;
    padding: 10px; }

.big {
    font-size: 18px;
}
a.dark:link, a.dark:visited, a.dark:active {
    color: #666;
    text-decoration: none;
}
a.dark:hover {
    color: #385f8a;
    text-decoration: none;
}
.sp10 {
    width: 10px;
    display: inline-block;
}
.user_name {
    font-size: 20px;
    text-align: center;
    margin:0 auto;
}
.howmany {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 5px 3px 5px;
    background-color: #f5f5ff;
    border: 1px solid #f0f0ff;
    color: #99a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
table.tag-list td.count{
    width: 10%;
    text-align: center;
}

.col_fade {
    color: #999;
}
h1 {
    padding: 5px 5px;
}
table {
    width:100%;
}
.snow {
    color: rgba(0, 0, 0, 0.15);
}
.avatar {
    vertical-align:top;
}
.avatar img{
    border-radius: 2px;
}
.emoji{
    width: 20px;
    height: 20px;
}
img {
    max-width:100%
}
#mark-show {
    font-size: 17px;
}
#tagcloud a {
    padding: 3px;
    line-height: 28px;
    border-radius: 5px;
}
.notifications a{
    font-weight: bold;
    padding: 11px 8px 10px;
}

.notifications:hover {
    background: #444;
}

.notifications .count {
    background-color: #666;
    padding: 2px 6px;
    border-radius: 2px;
    color: #999;
    -moz-border-radius: 2px;
}
.full-input{
    width: 99%
}

@media (max-width: 979px){
    #sidebar,.backtotop{
        display: none
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #main{
        width: 724px
    }
}
#footer {
    padding: 14px;
    margin-bottom: 10px;
    clear:both;
    border-top:1px solid #dadada;
    font-size: 15px;
    color: #999;
}
.backtotop {
    position:fixed;
    right: 25px;
    bottom: 50px;
}
.backtotop a {
    color: #000;
    font-size: .8em;
    background: url(/static/img/up.png) no-repeat 2px 1px;
    padding-left: 16px;
}
.backtotop a:hover {
    padding-top: 4px;
}
