.wmd-panel
{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-width: 500px;
}

.wmd-button-bar
{
    width: 100%;
    background-color: Silver;
}

.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/static/img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
.tag-editor {
    line-height:18px;
    border:1px solid #CCC;
    padding:0 4px;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
    -webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition:border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition:border linear 0.2s,box-shadow linear 0.2s;
    -o-transition:border linear 0.2s,box-shadow linear 0.2s;
    transition:border linear 0.2s,box-shadow linear 0.2s
}
.tag-editor.focus {
    border-color:rgba(82,168,236,0.8);
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(82,168,236,0.6)
}
.tag-editor input {
    border:none;
    border-radius:none;
    -moz-border-radius:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    padding:0;
    margin:4px 0
}
.tag-editor input:focus {
    border-color:none;
    box-shadow:none
}
.tag-editor .tag-preview span.tag {
    color:white;
    font-weight:bold;
    font-size:11px;
    padding:1px 4px;
    background-color:#AAA;
    border-radius:3px;
    -moz-border-radius:3px;
    margin:4px 4px 4px 0;
    display:inline-block;
    line-height:16px;
    vertical-align:middle
}
.tag-editor .tag-preview span.delete {
    margin-left:3px;
    cursor:pointer;
    font-weight:bold;
    color:#CCC
}
.tag-editor .tag-preview span.delete:hover {
    color:#FFF
}