#main .container{
    padding-top: 60px;
}
#main{
    background-color: #EEE;
}
.box {
    background-color: white;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 0 1px #DDD;
    -webkit-box-shadow: 0 0 0 1px #DDD;
    box-shadow: 0 0 0 1px #DDD;
    overflow: hidden;
    padding: 14px;
    border-bottom: 2px solid #e2e2e9;
}
.box header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}
.box footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
}
.node{
    display: inline-block;
    padding: 2px 12px;
    margin: 3px;
    border-radius: 3px;
    background-color: #F9F0A8;
    color: #B52218;
    font-size: 15px;
}

#title, #content{
    margin-top: 10px;
    width: 98%;
}

.username{
    font-weight: bold;
    font-size: 15px;
    color: #000
}

.username:hover{
    color: #000;
    text-decoration: none;
}

.avatar{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 8px;
}

.right{
    float: right;
}

.list{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}