body{
    background-color: #EEE;
}

#main .container{
    padding-top: 60px;
}

.box {
    background-color: white;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 0 1px #DDD;
    -webkit-box-shadow: 0 0 0 1px #DDD;
    box-shadow: 0 0 0 1px #DDD;
    overflow: hidden;
    padding: 14px;
    border-bottom: 2px solid #e2e2e9;
}

.box header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
    font-size: 17px;
}

.box footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
}

.node{
    display: inline-block;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    padding: 1px 4px;
    background-color: #BFBFBF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 15px;
}

#title, #content{
    margin-top: 10px;
    width: 98%;
}

.username{
    font-weight: bold;
    font-size: 15px;
}

.avatar{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 8px;
}

.reply-content, #notification_list .well{
    margin-left: 61px; <!-- 48+5+8 -->
}

.right{
    float: right;
    display: inline-block;
}

.list{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

.block{
    display: none;
}

#profile_main{
    height: 72px;
    font-size: 15px;
}

#profile_main .avatar{
    width: 72px;
    height: 72px;
}

#profile_main .username{
    font-size: 20px;
}

.no_block .block{
    display: block;
}

#current_base{
    height: 48px
}

table{
    width: 100%
}

#current_info{
    text-align: center
}

#current_info #followed, #current_info #favorite {
    width: 33%
}

#current_info #liked{
    width: 34%;
    border-left: 1px solid rgba(100, 100, 100, 0.4);
    border-right: 1px solid rgba(100, 100, 100, 0.4);
}

#current_info p{
    margin-top: 3px;
}

#current_info span{
    font-size: 16px
}

#current_info a, #current_footer a, .username{
    color: #000;
}

#current_info a:hover, #current_footer a:hover, .username:hover, .node:hover{
    text-decoration: none;
    color: #000
}

.node:hover{
    color: #fff;
}

#notification_list h2 .right{
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
}
