{% extends "layout.html" %}

{% block title %}修改话题{% endblock %}

{% from "snippet/nav.html" import navigation %}
{% block nav %}{{ navigation('topic') }}{% endblock %}

{% block content %}
  {% from "snippet/form.html" import form_field, select_field %}
  <div class="signal-form">
      <header>修改话题</header>
      <form method="post" action="">
        {{ form.csrf_token }}
        {{ select_field(form.node) }}
        {{ form_field(form.title) }}
        {{ form_field(form.content) }}
        <div class="form-controls">
          <button type="submit">修改</button>
        </div>
      </form>
  </div>
{% endblock %}
