{% extends 'base.html' %}

{% block title %}{{ _("Add Node") }} | {% end %}

{% block content %}
<div class="box">
    <header>{{ _("Add Node") }}</header>
    <form class="form-horizontal" method="post">
        <fieldset>
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="name">{{ _("Node Name") }}</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="name" name="name" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _("Node Title") }}</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="title">
                    <p class="help-block">{{ _("Will be same as the name by default") }}</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">{{ _("Description") }}</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="description" name="description"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="html">{{ _("Custom Html") }}</label>
                <div class="controls">
                    <textarea class="input-xlarge" id="html" name="html"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ _("Add Node") }}</button>
            </div>
        </fieldset>
    </form>
</div>
{% end %}