{% extends '../base.html' %}

{% block title %}{{ _("Create") }} | {% end %}

{% block content %}
<div class="box">
    <header><h2>{{ _("Create") }}</h2></header>
    <form class="form-horizontal" method="post">
        <fieldset>
            {% raw xsrf_form_html() %}
            <input type="text" class="input-xxlarge" id="title" name="title" placeholder="{{ _('Title') }}" maxlength="50" required>
            <textarea id="content" name="content" rows="20" required></textarea>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ _("Post") }}</button>
            </div>
        </fieldset>
    </form>
</div>
{% end %}

{% block sidebar %}
{% module node_sitebar(node) %}
{% end %}