{% extends 'base.html' %}

{% block title %}{{ _("Nodes") }} | {% end %}
{% block canonical %}node{% end %}

{% block content %}
<div class="box">
    <header>{{ _("Nodes") }}</header>
    {% for node in handler.db.nodes.find() %}
    <div class="list">
        <p><a href="/node/{{ node['name'] }}" class="node">{{ node['title'] }}</a></p>
        <p>{{ node['description'] }}</p>
    </div>
    {% end %}
</div>
{% end %}

{% block sidebar %}
{% if handler.check_role(return_bool=True) %}
<div class="box">
    <header>{{ _("Dashboard") }}</header>
    <a href="/node/add" class="btn btn-warning">{{ _("Add Node") }}</a>
</div>
{% end %}
{% end %}