{% extends 'base.html' %}

{% block description %}{{ node['name'] }},{{ node['title'] }}{% end %}
{% block canonical %}node/{{ node['name'] }}{% end %}

{% block title %}{{ node['title'] }} | {% end %}

{% block content %}
<div class="box">
    <header>{{ node['title'] }}</header>
    {% set topics_per_page = handler.settings['topics_per_page'] %}
    {% module topic_list(topics[(p-1)*topics_per_page:p*topics_per_page]) %}
    {% module paginator(p=p,perpage=topics_per_page,count=topics_count,base_url="/node/" + node['name']) %}
</div>
{% end %}

{% block sidebar %}
{% raw node['html'] %}
{% module node_sitebar(node) %}
{% if handler.check_role(return_bool=True) %}
<div class="box">
    <header>{{ _("Dashboard") }}</header>
    <a href="/node/{{ node['name'] }}/edit" class="btn">{{ _("Edit Node") }}</a>
    <a href="/node/add" class="btn btn-warning">{{ _("Add Node") }}</a>
    <a data-href="/node/{{ node['name'] }}/remove" href="#" class="btn btn-danger dangerous">{{ _("Remove Node") }}</a>
</div>
{% end %}
{% end %}