.diff {
  border: 1px solid #cccccc;
  background: none repeat scroll 0 0 #f8f8f8;
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
  font-size: 12px;
  line-height: 1.4;
  white-space: normal;
  margin-left: 60px;

  div:hover {
    background-color:#ffc;
  }
  .control {
    background-color: #eaf2f5;
    color: #999999;
  }
  .insert {
    background-color: #ddffdd;
    color: #000000;
    .highlight {
      background-color: #aaffaa;
      color: #000000;
    }
  }
  .delete {
    background-color: #ffdddd;
    color: #000000;
    .highlight {
      background-color: #ffaaaa;
      color: #000000;
    }
  }
}