p#page-title Users
.container
  #users_cloud
    - User.all.shuffle.each do |u|
    	a href=("/user/" + u.name) rel=(rand(99)) 
          ==u.name
javascript:
	$.fn.tagcloud.defaults = {
	  size: {start: 1, end: 5, unit: 'em'},
	  color: {start: '#cde', end: '#f52'}
	};

	$(function () {
	  $('#users_cloud a').tagcloud();
	});