@import "functions"
@import "responsive"

div.card
  @extend %card

div#cards-list
  @extend %flex
  @include prefix(flex-wrap, wrap)
  @include prefix(flex-direction, row)
  @include prefix(justify-content, space-between)

  > div
    @extend %clearfix
    @extend %card
    width: 250px
    max-width: 75%
    margin: 15px auto

    img
      float: left
      width: 80px
      height: 80px
      margin-right: 10px

    @include tablets
      display: inline-block
      width: 300px
      margin: 15px

    @include desktop
      margin: 15px 0