@import "helpers/functions"
@import "helpers/responsive"
@import "helpers/variables"

#site-footer
  border-top: 1px solid black(0.1)
  margin-top: 50px
  padding: 20px 0
  font-size: 16px
  text-align: center
  color: #7b7b7b

  width: 100%
  @include centered

  @include tablets
    width: $tablet-width

  @include desktop
    width: $desktop-width

  @include large
    width: $large-width

  a
    color: $dark-link-color
