@import "functions"
@import "responsive"
@import "variables"

#site-footer
  border-top: 0.1rem solid black(0.1)
  margin-top: 5rem
  padding: 20px 0
  font-size: 1.6rem
  text-align: center
  color: #7b7b7b

  width: 100%
  @extend %centered

  @include tablets
    width: $tablet-width

  @include desktop
    width: $desktop-width

  @include large
    width: $large-width
