@import "vendor/bourbon/bourbon"
@import "helpers/functions"
@import "helpers/variables"

.form-controls
  margin-top: 10px

div.signal-form
  @extend %card
  width: 98%
  max-width: 500px
  @include centered

  h2
    text-align: center

  .form-controls
    text-align: center

div.form-field
  width: 100%
  margin-bottom: 10px

  #content
    min-height: 400px

.form-checkbox
  margin-bottom: 10px
  input
    width: auto

input
  border: 1px solid rgb(238, 238, 238)
  padding: 4px 10px
  width: 90%

textarea
  @extend input
  height: 100px
  overflow-y: visible

select
  @extend input
  margin-left: 10px
  max-width: 200px
  -webkit-appearance: none
  background: #fff

div.form-error
  color: red
