@import "vendor/bourbon/bourbon"
@import "vendor/diff"

@import "vendor/normalize"
@import "helpers/functions"
@import "helpers/responsive"
@import "helpers/variables"
@import "vendor/pygments"
@import "vendor/jquery.atwho"
@import "sphinner"

@import "grid"
@import "nav"
@import "footer"
@import "icons"
@import "topic"
@import "form"
@import "card"

html
  @include tablets
    font-size: 87.5%

body
  font-family: $site-font-family
  background-color: #eeeeee

img
  max-width: 100%
  height: auto

a
  text-decoration: none

  &:hover
    text-decoration: solid

  &:visited
    color: rgb(22, 39, 234)

div#user-profile
  @extend .card
  header
    @include clearfix
  img.avatar
    width: 100px
    height: 100px
    float: left
    margin-right: 20px

ul#user-profile-info
  list-style: none
  font-size: 14px
  li
    margin-bottom: 10px
  i.fa
    margin-right: 8px

.pagination
  float: right
  position: relative
  left: -9px
  margin-left: 0
  list-style: none

  li
    float: left
    margin-right: 2px

    a, span
      display: block
      padding: 7px 9px
      line-height: 1
      border-radius: 3px

    a
      color: #0f0f0f
      &:focus, &:hover
        text-decoration: none
        background-color: #0f0f0f
        color: #fff

  span
    border: 1px solid #ddd

div.sidebar-user-card
  @extend .card
  header
    img
      width: $small-avatar-size
      height: $small-avatar-size
      float: left
      margin-right: 10px
    @include clearfix

    .small
      padding-top: 10px

.dark-link
  color: $dark-link-color

  &:visited
    color: $dark-link-color

  &:hover
    border-bottom: 1px solid $dark-link-color

button, .button
  &:disabled, &.disabled
    opacity: 0.5
    cursor: not-allowed
  border: 1px solid black(.3)
  &:hover:not(:disabled)
    color: black(.9)
  border-radius: 3px
  padding: 7px 18px
  text-decoration: none
  color: black(.7)
  background-color: #fff
  &:visited
    color: black(.7)
