@import "helpers/functions"
@import "helpers/responsive"
@import "helpers/variables"

#nav
  vertical-align: middle
  @include centered
  width: 100%

  a
    font-size: 1.3em
    height: 50px
    line-height: 50px
    color: #5C6576

    &:hover
      color: lighten(#5C6576, 20%)

  @include tablets
    width: $tablet-width

  @include desktop
    width: $desktop-width

  @include large
    width: $large-width

  > div
    @include centered
    display: block
    text-align: center

    @include tablets
      text-align: left

    > a
      padding-left: 15px
      padding-right: 15px

#nav-wrapper
  border-bottom: 1px solid black(.1)
  margin-top: 0
  padding-top: 0
  min-height: 50px
  margin-bottom: 20px
  background-color: #fff
  @include clearfix

  a
    text-decoration: none

#nav-main
  @include tablets
    float: left

  i.fa
    display: none
    @include tablets
      display: inline-block

#nav-user
  @include tablets
    float: right

a#site-name
  color: #000000

  display: block
  text-align: center

  @include tablets
    display: inline-block
    float: left
    text-align: left
    margin-right: 10px
    margin-bottom: 0
