@import "helpers/functions"
@import "helpers/variables"

.topic-list
  @include border-box
  width: 98%
  @include centered
  @include clearfix
  min-height: $small-avatar-size
  padding-bottom: 10px
  padding-top: 10px
  border-bottom: 1px solid black(.1)
  padding-left: $small-avatar-size/2 + 10px
  margin-left: $small-avatar-size/2
  border-left: 1px solid black(.2)
  position: relative

  .avatar
    margin-left: -($small-avatar-size + 10px)
    height: $small-avatar-size
    width: $small-avatar-size
    border-radius: $small-avatar-size/2

.topics-title
  font-size: 1em

.topic-meta
  margin-top: .9em

.node-label
  background-color: slategray
  color: white
  padding: 3px 5px
  border-radius: 5px
  margin-right: 5px

  &:visited
    color: white

.topic-reply-count
  float: right
  font-size: 14px
  line-height: 20px
  background-color: slateblue
  border-radius: 15px
  padding: 0 9px
  margin-top: $small-avatar-size/2 - 10px
  color: white
  &:visited, &.visited
    color: white
    background-color: slategray

.reply-list
  @extend .topic-list

.reply-meta
  display: inline-block
  vertical-align: text-top

.reply-actions
  float: right
  color: slategray
  margin-right: 10px

  a.reply_the_floor
    color: slategray
