{% if len(post['comments']) > 0 %}
<section class='box'>
    <table id="comments" class='item-list'>
        {% for comment in post['comments'] %}
        <tr>
            {% set replyuser = db.users.find_one({'username':comment["author"]}) %}
            <td class='avatar'>
                <img src="http://gravatar.com/avatar/{{ replyuser['hashed_email'] }}?s=48" />
            </td>
            <td id="reply-{{ comment['location'] }}">
                <div class='left'>
                    <a href="/user/{{ comment['author'] }}" rel="popover" title="{{ comment['author'] }}<div class='right'>{{ replyuser.setdefault('location','') }}</div>" data-content="{{ replyuser.setdefault('words','') }}">{{ comment['author'] }}</a>
                </div>
                <div class='right'>
                    #{{ comment['location'] }}     发表于{{ time_span(comment['posttime']) }}
                    {% if current_user %}
                    <a href="/admin/post/kill/{{ post['_id'] }}/{{ comment['location'] }}" class="label label-important kill hide">和谐</a>
                    <a href="#new_reply" class='at' data-user-name="{{ comment['author'] }}">@</a>
                    {% end %}
                </div>
                <br />
                {{ comment['content'] }}
            </td>
        </tr>
        {% end %}
    </table>
</section>
{% end %}