<div class='tabbable'>
  <ul class='nav nav-pills'>
    <li class='active'><a href='#edit' data-toggle='pill'>markdown</a></li>
    <li><a href='#preview' data-toggle='pill'>预览</a></li>
  </ul>
  <div class='tab-content'>
    <div class='tab-pane active' id='edit'>
      <textarea style='width:99%;' id='markdown' name='markdown' rows='8' placeholder="请输入内容"></textarea>
    </div>
    <div id='preview' class='tab-pane'>
      <div class="well">
        <div id='wmd-preview' class='wmd-preview reply-wmd-preview'></div>
      </div>
    </div>
  </div>
</div>
<script src='{{ static_url("js/markdown.js") }}' type="text/javascript"></script>