{% macro pagination(paginator, url) %}
  <ul class="pagination">
    {% if paginator.has_prev %}
      <li><a href="{{ url_for_other_page(paginator.prev_num) }}"><i class="fa fa-arrow-circle-o-left"></i></a></li>
    {% endif %}
    {% for page in paginator.iter_pages() %}
      {% if page %}
        {% if page == paginator.page %}
          <li><span>{{ page }}</span></li>
        {% else %}
          <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
        {% endif %}
      {% else %}
        <li>…</li>
      {% endif %}
    {% endfor %}
    {% if paginator.has_next %}
      <li><a href="{{ url_for_other_page(paginator.next_num) }}"><i class="fa fa-arrow-circle-o-right"></i></a></li>
    {% endif %}
  </ul>
{% endmacro %}
