{% macro node_sidebar(node) %}
  <div class="card">
    <header>
      <a href="{{ url_for('node.node', slug=node.slug) }}" class="dark-link">{{ node.name }}</a>
      {% if g.user and g.user.is_staff %}
        <a href="{{ url_for('node.change', slug=node.slug) }}"><i class="icon-settings"></i></a>
      {% endif %}
    </header>
    {{ node.description|content_to_html }}
  </div>
{% endmacro %}

{% macro user_sidebar(user) %}
  <div class="sidebar-user-card">
    {% set user_profile = url_for('user.profile', name=user.username) %}
    <header>
      <a href="{{ user_profile }}"><img src="{{ user.avatar(size=48) }}"></a>
      <a href="{{ user_profile }}" class="user-link">{{ user.username }}</a>
      <div class="small">
      {% if user.website %}
        <a href="{{ user.website }}" rel="nofollow" class="dark-link">{{ user.website }}</a>
      {% endif %}
      </div>
    </header>
    {{ user.description|content_to_html }}
  </div>
{% endmacro %}