{% macro topic_info(topic) %}
  <a href="{{ url_for("node.node", slug=topic.node.slug) }}" class="node-label">{{ topic.node.name }}</a>
  <a href="{{ url_for("user.profile", name=topic.author.username) }}" class="user-link">{{ topic.author }}</a> &middot;
  <time datetime="{{ topic.created|xmldatetime }}"></time>
  {% if topic.changed %}
    / <time datetime="{{ topic.changed|xmldatetime }}"></time>
  {% endif %}
{% endmacro %}

{% macro topic_list(topics, to_last_page=False) %}
  {% for topic in topics %}
    <div class="topic-list">
      {% if to_last_page %}
        {% set topic_url = url_for("topic.topic", topic_id=topic.id, page=topic.last_page) %}
      {% else %}
        {% set topic_url = url_for("topic.topic", topic_id=topic.id) %}
      {% endif %}

      {% set topic_url = topic_url + "#reply_count_%s" % topic.replies.count() %}

      <a href="{{ topic_url }}" class="topic-reply-count{% if g.user and topic.have_read(g.user) %} visited{% endif %}">
        {{ topic.replies.count() }}
      </a>

      {% set author_url = url_for("user.profile", name=topic.author.username) %}
      <a href="{{ author_url }}" class="user-link">
        <img src="{{ topic.author.avatar(48) }}" class="avatar" alt="{{ topic.author.username }}"/>
      </a>
      <div class="topic-info">
        <a href="{{ topic_url }}" class="topics-title">{{ topic.title }}</a>
        <div class="topic-meta">
          {{ topic_info(topic) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}
