<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name=description content="{{ handler.settings['forum_title'] }},{% block description %}{% end %}">
    <title>{% block title %}{% end %}{{ handler.settings['forum_title'] }}</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ handler.settings['forum_url'] }}{% block canonical %}{% end %}" />
    <link rel="alternate" type="application/atom+xml" href="{% block feed %}/feed{% end %}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ static_url('apple-touch-icon-57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url('apple-touch-icon-72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url('apple-touch-icon-114.png') }}" />
    {% block head %}{% end %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{ handler.settings['forum_title'] }}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    {% block nav %}
                    <li><a href="/topic">{{ _("Topics") }}</a></li>
                    <li><a href="/node">{{ _("Nodes") }}</a></li>
                    <li><a href="/member">{{ _("Members") }}</a></li>
                    {% end %}
                    <form class="navbar-search pull-left" onsubmit="return search()">
                      <input type="search" class="search-query span2" placeholder="{{ _("Search") }}" x-webkit-speech>
                    </form>
                </ul>
                <ul class="nav pull-right">
                    {% if not current_user %}
                    <li><a href="/account/signup?next={{ url_escape(request.uri) }}">{{ _("Signup") }}</a></li>
                    <li><a href="/account/signin?next={{ url_escape(request.uri) }}">{{ _("Signin") }}</a></li>
                    {% else %}
                    <li><a href="/member/{{ current_user['name'] }}">{{ current_user['name'] }}</a></li>
                    {% if current_user['role'] == 3 %}
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _("Dashboard") }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/dashboard/link">{{ _("Link") }}</a></li>
                            </ul>
                        </li>
                    </ul>
    
                    {% end %}
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _("Create Topic") }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for target_node in handler.db.nodes.find() %}
                                <li><a href="/node/{{ target_node['name'] }}/create">{{ target_node['title'] }}</a></li>
                                {% end %}
                            </ul>
                        </li>
                    </ul>
                    <li><a href="/account/settings">{{ _("Settings") }}</a></li>
                    <li><a href="/account/signout?next={{ url_escape(request.uri) }}">{{ _("Signout") }}</a></li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="main">
    <div class="container">
        <div class="row">
            {% block body %}
            <div class="span12">
                {% for type, msg in handler.get_flashed_messages() %}
                <div class="alert alert-{{type}}">
                    {{ _(msg) }}
                </div>
                {% end %}
            </div>
            <div class="span9">
                {% block content %}{% end %}
            </div>
            <div class="span3">
                {% if current_user %}
                <div class="box" id="current_sidebar">
                    <div id="current_base">
                        {% raw handler.get_avatar(current_user) %}
                        <p><a href="/member/{{ current_user['name'] }}" class="username">{{ current_user['name'] }}</a></p>
                        {% if current_user['website'] %}
                        <p><a href="{{ current_user['website'] }}" rel="nofollow">{{ current_user['website'] }}</a></p>
                        {% end %}
                    </div>
                    <table id="current_info">
                        <tr>
                        <td>
                            <a href="/account/followed">
                                <span>{{ len(current_user['follow']) }}</span>
                            </a>
                        </td>
                        <td class="liked">
                            <a href="/account/liked">
                                <span>{{ len(current_user['like']) }}</span>
                            </a>
                        </td>
                        <td>
                            <a href="/account/favorited">
                                <span>{{ len(current_user['favorite']) }}</span>
                            </a>
                        </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/account/followed">
                                    <p>{{ _("Followed Members") }}</p>
                                </a>
                            </td>
                            <td class="liked">
                                <a href="/account/liked">
                                    <p>{{ _("Liked Topics") }}</p>
                                </a>
                            </td>
                            <td>
                                <a href="/account/favorited">
                                    <p>{{ _("Favorite Nodes") }}</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <footer>
                        <a href="/account/notifications">
                            {{ handler.db.notifications.find({'to': current_user['name_lower'],'read': False}).count() }} {{ _("unread notification") }}
                        </a>
                    </footer>
                </div>
                {% end %}
                {% block sidebar %}{% end %}
                {% if current_user and current_user['favorite'] %}
                <div class="box">
                    <header>{{ _("Favorite Nodes") }}</header>
                    {% for node_name in current_user['favorite'] %}
                    <a class="node" href="/node/{{ node_name }}" >{{ handler.get_node(node_name)['title'] }}</a>
                    {% end %}
                </div>
                {% end %}
                {% if handler.db.links.count() %}
                <div class="box">
                    <header>{{ _("Links") }}</header>
                    <ul>
                        {% for l in handler.db.links.find(sort=[('priority', -1)]) %}
                        <li><a href="{{ l['link'] }}" title="{{ l['title'] }}" >{{ l['name'] }}</a></li>
                        {% end %}
                    </ul>
                </div>
                {% end %}
                <div class="box">
                    <header>{{ _("Site status") }}</header>
                    <ul>
                        <li>{{ _("Members") }}: {{ handler.db.members.count() }}</li>
                        <li>{{ _("Nodes") }}: {{ handler.db.nodes.count() }}</li>
                        <li>{{ _("Topics") }}: {{ handler.db.topics.count() }}</li>
                        <li>{{ _("Replies") }}: {{ handler.db.replies.count() }}</li>
                    </ul>
                </div>
            </div>
            {% end %}
            <div class="span12" id="footer">
                Powered by <a href="https://github.com/whtsky/PBB">PBB</a>
                <span>&bull;</span>
                Made by <a href="http://whouz.com">whtsky</a>
                <span>&bull;</span>
                Hosted on <a href="https://whmcs.hangssh.info/aff.php?aff=144">Host700</a>
            </div>
        </div>
    </div>
</div>
<script src='{{ static_url("js/lib.js") }}'></script>
<script src='{{ static_url("js/locale/%s.js" % handler.locale.code) }}'></script>
{% block footer %}{% end %}
<script type="text/javascript">
    var domain = "{{ handler.settings['host'] }}";
    {% if handler.settings['google_analytics'] %}
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ handler.settings["google_analytics"] }}']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    {% end %}
</script>
<!--[if IE 6]>
    {% if handler.locale.code == 'zh_CN' %}
	<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
	{% else %}
	<script src="//letskillie6.googlecode.com/svn/trunk/2/default.js"></script>
	{% end %}
<![endif]-->
</body>
</html>