<!DOCTYPE HTML>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{% block title %}{{ handler.settings['bbs_title'] }}{% end %}</title>
    <link rel='stylesheet' href='{{ static_url("css/bootstrap.css") }}' type='text/css'/>
    <script src='{{ static_url("js/jquery.js") }}' type="text/javascript"></script>
    <script src='{{ static_url("js/bootstrap.js") }}' type="text/javascript"></script>
    <link rel='stylesheet' href='{{ static_url("css/bootstrap-responsive.min.css") }}' type='text/css'/>
    <link rel='stylesheet' href='{{ static_url("css/base.css") }}' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src='{{ static_url("js/base.js") }}' type="text/javascript"></script>
    <link rel="alternate" type="application/rss+xml" title="{{ handler.settings['bbs_title'] }}" href="/feed" />
    {% block head %}{% end %}
  </head>
  <body>
    <div class='navbar navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container' id="nav-in">
          <div class='nav-collapse'>
            <a class='brand' href='#'>{{ handler.settings['bbs_title_e'] }}</a>
            <ul class="nav">
              {% block nav %}
              <li><a href='/'>主页</a></li>
              <li><a href='/topics'>主题</a></li>
              <li><a href='/tag'>标签</a></li>
              {% end %}
              <li class="divider-vertical"></li>
              <form id='search_form'class="navbar-search">
                <input type='text' id='q' name='q' class='search-query span2'/>
              </form>
            </ul>
            <ul class="nav pull-right">
              {% if current_user %}
                <li><a href="/user/{{ current_user }}">{{ current_user }}</a></li>
                <li><a href="/logout?next={{ url_escape(request.uri) }}">退出</a></li>
              {% else %}
                <li><a href="/signup?next={{ url_escape(request.uri) }}">注册</a></li>
                <li><a href="/login?next={{ url_escape(request.uri) }}">登录</a></li>
              {% end %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="container">
      <div class='row'>
        <div class="span10 offset1">
          <ul class="breadcrumb">
            {% block breadcrumb %}
              <li class="active">{{ handler.settings['bbs_title'] }}</li>
            {% end %}
          </ul>
        </div>
        {% block body %}
          <div class="span7 offset1">
            {% block content %}{% end %}
          </div>
          <div class="span3">
            <section class='box'>
             {% if current_user %}
               <a href='/user/{{ current_user }}' class="dark">
                 <img src='http://www.gravatar.com/avatar/{{ user_info["hashed_email"] }}?s=48' title='{{ current_user }}' />
                 <span class="dark user_name">{{ current_user }}</span>
               </a>
               <a href="/setting" class="label label-success">编辑</a>
               <table class="table clear-table center-table">
                 <tbody>
                   <tr>
                     <td style="width:33%;">
                       <a href="/my/tag">
                         <h3><span id="markedtag">{{ len(user_info['tagmark']) }}</span></h3>
                           Tag收藏
                       </a>
                     </td>
                     <td style="width:33%;">
                       <a href="/my/post">
                         <h3><span id="markedpost">{{ len(user_info['postmark']) }}</span></h3>
                         主题收藏
                       </a>
                     </td>
                     <td style="width:33%;">
                       <h3>{{ len(user_info['notification']) }}</h3>
                       未读通知
                     </td>
                   </tr>
                 </tbody>
               </table>
               <hr>
               <a href="/topics/add" class='btn btn-info'>发表话题</a>
             {% else %}
               <p>想要融入社区？</p>
               <a href='/signup?next={{ url_escape(request.uri) }}' class='btn btn-info'>注册</a> 或者 <a href='/login?next={{ url_escape(request.uri) }}' class='btn'>登录</a>
             {% end %}
            </section>
            {% block sidebar %}{% end %}
            {% block tagcloud %}
            <section class='box'>
              <header>标签云</header>
              {{ modules.TagCloud(db,limit=10) }}
            </section>
            {% end %}
          </div>
        </div>
      {% end %}
    </div>
    <footer>
      <div class='span10 offset1'>
        <p><a href="https://github.com/whtsky/PBB/">铅版(PBB)</a> by <a href="http://blog.whtsky.tk/">whtsky</a> JS by <a href="http://blog.whtsky.tk/">whtsky</a> & <a href="http://jyprince.me/">jybox</a></p>
      </div>
    </footer>
    {% block foot %}{% end %}
  </body>
</html>
