{% for comment in comments %}
<tr>
  <td class='avatar'>
    <img src="http://gravatar.com/avatar/{{ md5(db.users.find_one({'username':comment['author']})["email"]).hexdigest() }}.png?r=G&amp;s=48" />
  </td>
  <td>
    <article>
      <header>
        <div class='left'>
          <a href="/user/{{ comment['author'] }}">{{ comment['author'] }}</a>
          <span>{{ comment['author'] }}</span>
        </div>
        <div class='right'>
          {{ time_span(comment['posttime']) }}
        </div>
      </header>
      {{ comment['content'] }}
    </article>
  </td>
</tr>
{% end %}
