{% extends 'base.html' %}

{% block nav %}
<li class='active'><a href='/'>主页</a></li>
<li><a href='/topics'>主题</a></li>
<li><a href='/tag'>标签</a></li>
{% if current_user and current_user['lovetag'] %}
<li><a href="/my">个人信息流</a></li>
{% end %}
{% end %}

{% block content %}
<section class="box">
    {% if unread > 0 %}
    <div class="alert fade in"  style="margin-top:10px;">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <a href='/my/notifications'>您有<strong>{{ unread }}</strong>条未读提醒</a>
    </div>
    {% end %}
    {{ modules.Post(db=db,mc=mc,posts=posts,name='index') }}
    <a href="/topics">» 更多话题</a>
</section>
{% end %}
