{% extends 'base.html' %}
{% block body %}
<div class='container'>
  <div class='row'>
    <div class='span8'>
      <div>
        <table class='table item-list'>
          <tbody>
          {% for post in db.posts.find({},sort=[('changedtime', 1)],limit=15)%}
          <tr>
            <td class='avatar'>
              <a href="/user/{{ post['author'] }}"><img src='http://gravatar.com/avatar/{{ md5(db.users.find_one({"username":post["author"]})["email"]).hexdigest() }}.png?r=G&amp;s=48' /></a>
            </td>
            <td>
              <h3>
                <a href="/topics/{{ post['_id'] }}">{{ post['title'] }}</a>
              </h3>
              {% if len(post['tags']) > 0 %}
              <span class='tags'>
                {% for tag in post['tags'] %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
                {% end %}
              </span>
              {% end %}
              <a href="/user/{{ post['author'] }}">{{ post['author'] }}</a>创建于{{ time_span(post['posttime']) }}
              {% if len(post['comments']) > 0 %}
              ,<a href="/user/{{ post['comments'][-1]['author'] }}">{{ post['comments'][-1]['author'] }}</a>回复于{{ time_span(post['comments'][-1]['posttime']) }}
              {% end %}
            </td>
            <td class='reply-count last'>
              <a href="/topics/{{ post['_id'] }}">{{ len(post['comments']) }}</a>
            </td>
          </tr>
          {% end %}
          </tbody>
        </table>
      </div>
    </div>
    <div class='span4'>
      <section class='well'>
        <header>
          节点
        </header>
        <ul>
          {% for node in db.nodes.find() %}
          <li><a href="/topics/node{{ node['_id'] }}">{{ node['name'] }}</a></li>
          {% end %}
        </ul>
      </section>

      <section class='well'>
        <header>
          统计信息
        </header>
        <ul>
          <li>节点数：{{ db.nodes.count() }}</li>
          <li>用户数：{{ db.users.count() }}</li>
          <li>主题数：{{ db.posts.count() }}</li>
        </ul>
      </section>

      <section class='well'>
        <header>
          标签云
        </header>
        {{ tagcloud }}
      </section>
    </div>
  </div>
</div>
{% end %}