{% extends 'base.html' %}

{% block title %}登录 -- {{ escape(handler.settings['bbs_title']) }}{% end %}

{% block body %}
<div class='container'>
  <div class='row'>
    <div class='box container'>
      <form class='form-horizontal well span5 offset3'>
        <fieldset>
          <header><h2>登录</h2></header>
          <div class="control-group">
            <label class="control-label" for="username">用户名</label>
            <div class="controls">
              <input type="text" id="username">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
              <input type="text" id="password">
            </div>
          </div>
          <div class="form-actions">
            <button id='tsubmit' class='btn btn-primary'>登录</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#tsubmit").click(function(){
    alert($.post("/signup",{_xsrf:$("input[name='_xsrf']").val(),username:$("#username").val(),password:$("#password").val()}).text);
  });
</script>

{% end %}
