{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > 登录{% end %}

{% block body %}
<div class='container'>
  <div class='row-fluid'>
    <section class='box span6' style="margin-left: 206px;">
      <form class='form-horizontal'>
        {{ xsrf_form_html() }}
        <fieldset>
          <header><h2>登录</h2></header>
          <div id="username-g" class="control-group">
            <label class="control-label" for="username">用户名</label>
            <div class="controls">
              <input type="text" id="username">
              <span id="username-t" class="help-inline">请输入用户名</span>
            </div>
          </div>
          <div id="password-g" class="control-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
              <input type="password" id="password">
              <span id="password-t" class="help-inline">请输入密码</span>
            </div>
          </div>
          <div class="form-actions">
            <button id='submit' class='btn btn-primary'>登录</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  
  $("#username").blur(function(){
    checkInput("#username",!$(this).val());
  });
  $("#password").blur(function(){
    checkInput("#password",!$(this).val());
  });
  $("#username-t").hide();
  $("#password-t").hide();
  $("#submit").click(function(){
    readySubmit=true;
    $("#username").blur();
    $("#password").blur();
    if(!readySubmit)
      return false;
    $.post("/login",{_xsrf:$("input[name='_xsrf']").val(),
                     username:$("#username").val(),
                     password:$("#password").val()},
    function(data){
      if(data.status=="success")
        location.href="/";
      else
        alert(data.message);
    },"json");
    return false;
  });
</script>

{% end %}
