{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > 我收藏的Tag{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li class="active">我收藏的Tag</li>
{% end %}

{% block content %}
<section class="box">
    我收藏的主题
    <table class="clean-table tag-list">
        {% for tag in reversed(current_user['tagmark']) %}
        <tr>
            <td class="count">
                <div class="howmany"><strong>{{ db.posts.find({'tags':tag}).count() }}</strong></div>
            </td>
            <td>
                <h4><a href='/tag/{{ tag }}'>{{ tag }}</a></h4>
            </td>
        </tr>
        {% end %}
    </table>
</section>
{% end %}
