{% extends 'base.html' %}

{% block title %}{{ node['name'] }} -- {{ escape(handler.settings['bbs_title']) }}{% end %}

{% block breadcrumb %}
<li><a href="/">{{ escape(handler.settings['bbs_title']) }}</a> <span class="divider">/</span></li>
<li class="active">{{ node['name'] }}</li>
{% end %}

{% block body %}
<div class='container'>
  <div class='row-fluid'>
   <div class='span8'>
     <table class='item-list'>
       <tbody>
       {% for post in db.posts.find({'node':node['_id']},sort=[('changedtime', 1)],limit=limit) %}
         <tr>
           <td class='avatar'>
               <a href="/user/{{ post['author'] }}"><img src='http://gravatar.com/avatar/{{ md5(db.users.find_one({"username":post["author"]})["email"]).hexdigest() }}.png?r=G&amp;s=48' /></a>
           </td>
           <td>
             <h3>
               <a href="/topics/{{ post['_id'] }}">{{ post['title'] }}</a>
             </h3>

             {% for tag in post['tags'] %}
             <span class='tags'>
               <a href="/tag/{{ tag }}">{{ tag }}</a>
             </span>
             {% end %}
             <a href="/user/{{ post['author'] }}">{{ post['author'] }}</a>创建于{{ time_span(post['posttime']) }}
             {% if len(post['comments']) > 0 %}
               ,<a href="/user/{{ post['comments'][-1]['author'] }}">{{ post['comments'][-1]['author'] }}</a>回复于{{ time_span(post['comments'][-1]['posttime']) }}
             {% end %}

           </td>
           <td class='reply-count last'>
             <a>{{ len(post['comments']) }}</a>
           </td>
       {% end %}
       </tbody>
     </table>
   </div>
  </div>
</div>
{% end %}
