{% extends 'base.html' %}

{% block title %}{{ node['name'] }} -- {{ escape(handler.settings['bbs_title']) }}{% end %}

{% block breadcrumb %}
<li><a href="/">{{ escape(handler.settings['bbs_title']) }}</a> <span class="divider">/</span></li>
<li class="active">{{ node['name'] }}</li>
{% end %}


{% block body %}
<div class='container'>
  <div class='row-fluid'>
   <div class='span8'>
       {% for post in db.posts.find({'node':node['_id']},sort=[('changedtime', 1)],limit=limit) %}
         {{ post['author'] }}<br />{{ post['title'] }}<br />{{ len(post['comments']) }}<br /><hr>
       {% end %}
   </div>

  </div>
</div>
{% end %}
