{% extends 'base.html' %}

{% block title %}{{ handler.settings['forum_title'] }} > 记事本{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['forum_title'] }}</a> <span class="divider">/</span></li>
<li class="active">记事本</li>
{% end %}

{% block content %}
<section class='box'>
    {% for note in notes %}
    <div>
        <strong><h2><a href="/notes/edit/{{note['posttime']}}">{{note['title']}}</a></h2></strong>
        创建于{{ time_span(note['posttime']) }}，修改于{{ time_span(note['changedtime']) }}
        <div class="right">
            <a href="/notes/publish/{{note['posttime']}}" class="btn btn-primary">发布</a>
            <a href="#{{note['posttime']}}" data-toggle="modal" class="btn">改名</a>
            <a href="/notes/remove/{{note['posttime']}}" class="kill btn btn-danger">删除</a>
        </div>
    </div>
    <div id="{{note['posttime']}}" class="modal hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal" >&times;</a>
            <h3>改名</h3>
        </div>
        <form action="/notes/rename/{{note['posttime']}}" method="post">
            <div class="modal-body">
                <input name='title' style="width: 97%" value="{{note['title']}}"/>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">改名</button>
            </div>
        </form>
    </div>
    <hr class="soft">
    {% end %}
</section>
{% end %}
{% block sidebar %}
<section class='box'>
    <form action="/notes/add" method="get">
        <input id="title" name='title' placeholder='请输入标题' required='required'/>
        <button class="btn btn-success" type="submit">创建笔记</button>
    </form>
</section>
{% end %}