{% extends 'base.html' %}

{% block title %}{{ handler.settings['forum_title'] }} > 发布主题{% end %}

{% block nav %}
<li><a href='/'>主页</a></li>
<li class='active'><a href='/topics'>主题</a></li>
<li><a href='/tag'>标签</a></li>
{% end %}

{% block head %}
<script src='/static/js/editor.js' type="text/javascript"></script>
<link rel='stylesheet' href='{{ static_url("css/edit.css") }}' type='text/css'/>
{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['forum_title'] }}</a> <span class="divider">/</span></li>
<li class="active">发布主题</li>
{% end %}


{% block content %}
<section class="box">
    <form action="/topics/add" method="post" id='editor'>
        <header><h2>发布主题</h2></header>
        <div class='controls'>
            <div class="input-prepend">
                <input class="full-input" type='text' name='title' value="{{title}}" disabled/>
            </div>
        </div>
        <div class='controls'>
            <textarea style='width:98%;' name="markdown" rows='8' disabled>{{content}}</textarea>
        </div>
        <input class="full-input" type='text' id='tags' name='tags' required='required' data-suggest="[{{ ','.join(['&quot;%s&quot;' % tag['name'].encode('unicode-escape') for tag in db.tags.find()]) }}]" />
        <div class="left">
            {% if current_user['twitter_bind'] %}
            同步到Twitter<input type="checkbox" name="twitter-sync" checked value="yes">
            {% end %}
        </div>
        <div class="right">
            <button type="submit" id='submit' class='btn'>发表</button>
        </div>
    </form>
</section>
<script>
    users = ['{{ "','".join([ u['username'] for u in db.users.find()]) }}'];
    $('form button').click(function(){
        $('form input').removeAttr('disabled');
        $('form textarea').removeAttr('disabled');
        setTimeout(function(){
            $('form input').attr('disabled','disabled');
            $('.tag-input').removeAttr('disabled');
            $('form textarea').attr('disabled','disabled');
        }, 1);
    });
</script>
{% end %}
