{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > 发布主题{% end %}

{% block head %}
<script src='{{ static_url("js/highlight.pack.js") }}' type="text/javascript"></script>
<link rel='stylesheet' href='{{ static_url("css/highlight.css") }}' type='text/css'/>
{% end %}

{% block nav %}
<li><a href='/'>主页</a></li>
<li class='active'><a href='/topics'>主题</a></li>
<li><a href='/tag'>标签</a></li>
{% if current_user and current_user['lovetag'] %}
<li><a href="/my">个人信息流</a></li>
{% end %}
{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li class="active">发布主题</li>
{% end %}


{% block content %}
<section class="box">
    <form action="/topics/add" method="post">
        <fieldset>
            <header><h2>发表主题</h2></header>
            <div id='title-g' class='control-group'>
                <div class='controls'>
                    <div class="input-prepend">
                        <input style="width: 99%" type='text' id='title' name='title' x-webkit-speech required maxlength="50" />
                    </div>
                </div>
            </div>
            <div id='tags-g' class='control-group'>
                <div class='controls'>
                    <div class="input-prepend">
                        <input style="width: 100%" type='text' id='tags' name='tags' required data-suggest="[{{ ','.join(['&quot;%s&quot;' % tag['name'].encode('unicode-escape') for tag in db.tags.find()]) }}]" x-webkit-speech />
                        <script src='{{ static_url("js/tageditor.js") }}' type="text/javascript"></script>
                    </div>
                </div>
            </div>
            <div id='markdown-g' class='control-group'>
                <div class='controls'>
                    {{ modules.Edit() }}
                </div>
            </div>
        </fieldset>
    </form>
</section>
{% end %}
