{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > 发布主题{% end %}

{% block head %}
<script src='{{ static_url("js/wmd/wmd.js") }}' type="text/javascript"></script>
<script src='{{ static_url("js/highlight.pack.js") }}' type="text/javascript"></script>
<link rel='stylesheet' href='{{ static_url("css/highlight.css") }}' type='text/css'/>
{% end %}

{% block nav %}
<li><a href='/'>主页</a></li>
<li class='active'><a href='/topics'>主题</a></li>
<li><a href='/tag'>标签</a></li>
{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li class="active">发布主题</li>
{% end %}


{% block content %}
<section class="box">
  <form>
    {{ xsrf_form_html() }}
    <fieldset>
      <header><h2>发表主题</h2></header>
      <div id='title-g' class='control-group'>
        <div class='controls'>
          <input style='width:99%;' type='text' id='title' name='title' placeholder="请输入标题">
        </div>
      </div>
      <div id='tags-g' class='control-group'>
        <div class='controls'>
          <input style='width:99%;' type='text' id='tags' name='tags' placeholder="请输入标签。标签间使用空格或英文逗号(,)或(/)分割">
        </div>
      </div>
      <div id='markdown-g' class='control-group'>
        <div class='controls'>
        {{ modules.Edit() }}
        </div>
      </div>
    </fieldset>
  </form>
</section>
<script src='{{ static_url("js/post.js") }}' type="text/javascript"></script>
{% end %}
