{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > 注册{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li class="active">注册</li>
{% end %}

{% block body %}
<section class='box span6 offset3'>
  <form class='form-horizontal'>
    {{ xsrf_form_html() }}
    <fieldset>
      <header><h2>注册</h2></header>
      <div id="username-g" class="control-group">
        <label class="control-label" for="username">用户名</label>
        <div class="controls">
          <input type="text" id="username" placeholder="请输入用户名">
          <p class="help-block">用户名将是你以后在论坛的唯一标识，可以使用30个字符以下的中英文.</p>
        </div>
      </div>
      <div id="email-g" class="control-group">
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input type="text" id="email" placeholder="请输入有效的邮箱地址">
        </div>
      </div>
      <div id="password-g" class="control-group">
        <label class="control-label" for="password">密码</label>
        <div class="controls">
          <input type="password" id="password" placeholder="请使用6位以上的密码">
        </div>
      </div>
      <div id="password-ag-g" class="control-group">
        <label class="control-label" for="password-ag">重复密码</label>
        <div class="controls">
          <input type="password" id="password-ag" placeholder="请重复上面的密码">
        </div>
      </div>
      <div class="form-actions">
        <button id='submit' class='btn btn-primary'>注册</button>
      </div>
    </fieldset>
  </form>
</section>
<script src='{{ static_url("js/signup.js") }}' type="text/javascript"></script>
{% end %}


