{% extends 'base.html' %}

{% block title %}注册 -- {{ escape(handler.settings['bbs_title']) }}{% end %}

{% block style %}
input
{
    width:215px;
}
{% end %}

{% block body %}
<div class='container'>
  <div class='row'>
    <div class='span4 offset4'>
      <div class='box'>
        <form class='well' action='/signup' method='post'>
          <fieldset>
            <header><h2>注册</h2></header>
            {{ xsrf_form_html() }}
            用户名：
            <input type='text' class='span3' id='username'><br />
            E-mail：
            <input type='text' class='span3' id='email'><br />
            密码：
            <input type='text' class='span3' id='password' type='password'><br />
            确认密码：
            <input type='text' class='span3' id='password-ag' type='password'><br />
            <button id='submit' class='btn btn-primary'>注册</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $("#submit").click(function(){
        
    });
</script>
{% end %}
