{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > {{ tagname }}{% end %}

{% block head %}
<link href="/tag/{{ tagname }}/feed" rel="alternate" title="{{ handler.settings['bbs_title'] }}-{{ tagname }}" type="application/atom+xml"/>
{% end %}

{% block nav %}
<li><a href='/'>主页</a></li>
<li><a href='/topics'>主题</a></li>
<li class='active'><a href='/tag'>标签</a></li>
{% if current_user and current_user['lovetag'] %}
<li><a href="/my">个人信息流</a></li>
{% end %}
{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li><a href="/tag">标签</a> <span class="divider">/</span></li>
<li class="active" id="tagname">{{ tagname }}</li>
{% end %}

{% block content %}
<section class='box'>
    {{ modules.Post(getuser=getuser,db=db,mc=mc,posts=posts,p=p) }}
</section>

{% end %}