{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > {{ tagname }}{% end %}

{% block head %}
<link href="/tag/{{ tagname }}/feed" rel="alternate" title="{{ handler.settings['bbs_title'] }}-{{ tagname }}" type="application/atom+xml"/>
{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li><a href="/tag">标签</a> <span class="divider">/</span></li>
<li class="active">{{ tagname }}</li>
{% end %}

{% block body %}
<div class='container'>
  <div class='row-fluid'>
    <div class='span7 offset1'>
      <section class='box'>
        共{{ posts.count() }}条主题，当前显示{{ (p-1)*limit }} - {{ p*limit < posts.count() and p*limit or posts.count() }}
        <table class='table item-list'>
          <tbody>
          {% for post in posts.skip((p-1)*limit).limit(limit) %}
          <tr>
            <td class='avatar'>
              <a href="/user/{{ post['author'] }}"><img src='http://gravatar.com/avatar/{{ md5(db.users.find_one({"username":post["author"]})["email"]).hexdigest() }}.png?r=G&amp;s=48' /></a>
            </td>
            <td>
              <h3>
                <a href="/topics/{{ post['_id'] }}">{{ post['title'] }}</a>
              </h3>
  
              {% if len(post['tags']) > 0 %}
           <span class='tags'>
          {% for tag in post['tags'] %}
          <a href="/tag/{{ tag }}">{{ tag }}</a>
          {% end %}
           </span>
              {% end %}
              <a href="/user/{{ post['author'] }}">{{ post['author'] }}</a>创建于{{ time_span(post['posttime']) }}
              {% if len(post['comments']) > 0 %}
              ,<a href="/user/{{ post['comments'][-1]['author'] }}">{{ post['comments'][-1]['author'] }}</a>回复于{{ time_span(post['comments'][-1]['posttime']) }}
              {% end %}
  
            </td>
            <td class='reply-count last'>
              <a>{{ len(post['comments']) }}</a>
            </td>
            {% end %}
          </tbody>
        </table>
        {% if p!=1 %}
        <a href='{{ tagname }}?p={{ p-1 }}'>上一页</a>
        {% end %}
        {% if p*limit < posts.count() %}
        <a href='{{ tagname }}?p={{ p+1 }}'>下一页</a>
        {% end %}
        </section>
      </div>
      <div class='span3'>
        <section class='box'>
          {% if current_user %}
          <button id='newPost' class='btn btn-info'>我也来一发</button>
          {% else %}
          <p>少年，不来一发吗？</p>
          <a href='/signup'class='btn btn-info'>注册</a> 或者 <a href='/login'class='btn'>登录</a>
          {% end %}
        </section>
        <section class='box'>
          <header>
            统计信息
          </header>
          <ul>
            <li>主题数：{{ posts.count() }}</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
{% end %}
