{% extends 'base.html' %}

{% block nofollow %}{% end %}
{% block title %}{{ handler.settings['bbs_title'] }} > 标签{% end %}

{% block nav %}
<li><a href='/'>主页</a></li>
<li><a href='/topics'>主题</a></li>
<li class='active'><a href='/tag'>标签</a></li>
{% if current_user and current_user['lovetag'] %}
<li><a href="/my">个人信息流</a></li>
{% end %}
{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li class="active">标签</li>
{% end %}

{% block content %}
<section class="box">
    {{ modules.TagCloud(db,mc) }}
</section>
{% end %}

{% block tagcloud %}{% end %}