{% extends 'base.html' %}

{% block title %}{{ handler.settings['forum_title'] }} > 主题{% end %}

{% block nav %}
<li><a href='/'>主页</a></li>
<li class='active'><a href='/topics'>主题</a></li>
<li><a href='/tag'>标签</a></li>
{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['forum_title'] }}</a> <span class="divider">/</span></li>
<li class="active">主题</li>
{% end %}

{% block content %}
<section class='box'>
    {{ modules.Post(db=db,mc=mc,posts=posts,p=p) }}
</section>
{% end %}
