{% extends 'base.html' %}

{% block title %}{{ handler.settings['bbs_title'] }} > 设置{% end %}

{% block breadcrumb %}
<li><a href="/">{{ handler.settings['bbs_title'] }}</a> <span class="divider">/</span></li>
<li class="active">设置</li>
{% end %}

{% block body %}
<div class='container'>
  <div class='row-fluid'>
    <section class='box span6' style="margin-left: 206px;">
      <form class='form-horizontal'>
        {{ xsrf_form_html() }}
        <fieldset>
          <header><h2>设置</h2></header>
          <div id="username" class="control-group">
            <label class="control-label" for="email">用户名</label>
            <div class="controls">
              <input class="input-xlarge disabled" id="disabledInput" type="text" placeholder="{{ user['username'] }}" disabled>
            </div>
          </div>
          <div id="email-g" class="control-group">
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input type="text" id="email" value="{{ user['email'] }}">
              <span id="email-t" class="help-inline">请输入有效的邮箱地址</span>
            </div>
          </div>
          <div id="website-g" class="control-group">
            <label class="control-label" for="email">个人网址</label>
            <div class="controls">
              <input type="text" id="website" value="{{ getvalue(user,'website') }}%}">
              <span id="website-t" class="help-inline">请输入有效的个人网址</span>
            </div>
          </div>
          <div id="location-g" class="control-group">
            <label class="control-label" for="email">所在地</label>
            <div class="controls">
              <input type="text" id="location" value="{{ getvalue(user,'location') }}%}">
              <span id="location-t" class="help-inline">请输入有效的所在地</span>
            </div>
          </div>
          <div id="twitter-g" class="control-group">
            <label class="control-label" for="email">Twitter</label>
            <div class="controls">
              <input type="text" id="twitter" value="{{ getvalue(user,'twitter') }}%}">
              <span id="twitter-t" class="help-inline">请输入有效的Twitter</span>
            </div>
          </div>
          <div id="twitter-g" class="control-group">
            <label class="control-label" for="email">Twitter</label>
            <div class="controls">
              <input type="text" id="twitter" value="{{ getvalue(user,'twitter') }}%}">
              <span id="twitter-t" class="help-inline">请输入有效的Twitter</span>
            </div>
          </div>
          <div id="password-g" class="control-group">
            <label class="control-label" for="password">密码</label>
            <div class="controls">
              <input type="password" id="password">
              <span id="password-t" class="help-inline">请使用6位以上的密码</span>
            </div>
          </div>
          <div id="password-ag-g" class="control-group">
            <label class="control-label" for="password-ag">重复密码</label>
            <div class="controls">
              <input type="password" id="password-ag">
              <span id="password-ag-t" class="help-inline">请重复上面的密码</span>
            </div>
          </div>
          <div class="form-actions">
            <button id='submit' class='btn btn-primary'>注册</button>
          </div>
        </fieldset>
      </form>
    </section>
  </div>
</div>
{% end %}


