{% extends "layout.html" %}

{% block title %}用户{% endblock %}

{% from "snippet/nav.html" import navigation %}
{% block nav %}{{ navigation('user') }}{% endblock %}

{% block content %}
  <div id="cards-list">
    {% for user in paginator.items %}
      <div>
        {% set user_profile = url_for('.profile', name=user.username) %}
        <header>
          <a href="{{ user_profile }}"><img src="{{ user.avatar(size=80) }}">{{ user.username }}</a>
        </header>
        {% if user.website %}
          <a href="{{ user.website }}" rel="nofollow">{{ user.website }}</a>
        {% else %}
          注册于： {{ user.created.strftime("%Y-%m-%d") }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block before_footer %}
  <div id="pagination-card">
    {% from "snippet/pagination.html" import pagination %}
    {{ pagination(paginator, url_for(".index")) }}
  </div>
{% endblock %}