{% extends 'base.html' %}

{% block title %}{{ _("Edit") }} | {% end %}

{% block content %}
<div class="box">
    <header><h2>{{ _("Edit") }}</h2></header>
    <form class="form-horizontal" method="post">
        <fieldset>
            {% raw xsrf_form_html() %}
            <input type="text" class="input-xxlarge" id="title" name="title" placeholder="{{ _('Title') }}"
                   maxlength="100" value="{{ topic['title'] }}" required>
            <textarea id="content" name="content" rows="20" required>{{ topic['content'] }}</textarea>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ _("Post") }}</button>
            </div>
        </fieldset>
    </form>
</div>
{% end %}

{% block sidebar %}
<div class="box">
    <header>{{ _("Code Block Example") }}</header>
    <p>```python</p>
    <p>print "hello world!"</p>
    <p>```</p>
</div>
{% module node_sitebar(node) %}
{% end %}