{% extends 'base.html' %}

{% block head %}
{% if current_user %}
<script src='{{ static_url("js/editor.js") }}'></script>
{% end %}
{% end %}

{% block description %}{{ topic['title'] }},{{ topic['node'] }},{% set node = handler.get_node(topic['node']) %}{{ node['title'] }}{% end %}

{% block title %}{{ topic['title'] }} | {% end %}
{% block canonical %}topic/{{ topic['_id'] }}?p={{p}}{% end %}

{% block content %}
<div class="box">
    <header>
        <h1>{{ topic['title'] }}
            {% if current_user %}
            <div class="right">
                {% if str(topic['_id']) in current_user['like'] %}
                <a href="/topic/{{ topic['_id'] }}/unlike" class="btn btn-danger">{{ _("Unlike") }}</a>
                {% else %}
                <a href="/topic/{{ topic['_id'] }}/like" class="btn">{{ _("Like") }}</a>
                {% end %}
            </div>
        </h1>
        {% end %}
    </header>
    <article>
        {% raw topic['content_html'] %}
    </article>
    <footer>
        {{ _("Created at") }} {{ handler.format_time(topic['created']) }}
        {% if topic['created'] != topic['modified'] %}
        / {{ _("Modified at") }} {{ handler.format_time(topic['modified']) }}
        {% end %}
    </footer>
</div>
{% if replies_count %}
<div class="box">
    <header>{{ _("Replies") }}</header>
    {% set replies_per_page = handler.settings['replies_per_page'] %}
    {% for reply in replies[(p-1)*replies_per_page:p*replies_per_page] %}
    {% set author = handler.get_member(reply['author']) %}
    <div class="list
    {% if current_user and author['name_lower'] in current_user['block'] %}
block
{% end %}">
        <img class="avatar" src="{{ handler.get_avatar(author) }}" />
        {% if current_user and handler.check_role(owner_name=reply['author'], return_bool=True) %}
        <a href="/reply/{{ reply['_id'] }}/remove" class="close right">&times;</a>
        {% end %}
        <p>
            <a href="/member/{{ author['name'] }}" class="reply_user">{{ author['name'] }}</a>
            {{ _("Replied at") }} {{ handler.format_time(reply['created']) }}
            {% if reply['created'] != reply['modified'] %}
            / {{ _("Modified at") }} {{ handler.format_time(reply['modified']) }}
            {% end %}
            #{{ reply['index'] }}
            {% if author['role'] == -1 %}
            <span class="label label-important">{{ _("Deactived") }}</span>
            {% end %}
            {% if current_user and handler.check_role(owner_name=reply['author'], return_bool=True) %}
            <a href="/reply/{{ reply['_id'] }}/edit?next={{ url_escape(request.uri) }}" class="label label-warning">{{ _("Edit") }}</a>
            {% end %}
        </p>
        <div class="reply-content">{% raw reply['content_html'] %}</div>
    </div>
    {% end %}
    {% module paginator(p=p,perpage=replies_per_page,count=replies_count,base_url="/topic/%s" % topic['_id']) %}
</div>
{% end %}

{% if handler.check_role(role_min=1, return_bool=True) %}
<div class="box">
    <header>{{ _("Reply") }}</header>
    <form action="/topic/{{ topic['_id'] }}/reply" method="post">
        {% raw xsrf_form_html() %}
        <textarea id="content" name="content" rows="10"></textarea>
        <button type="submit" class="btn btn-primary">{{ _("Post") }}</button>
    </form>
</div>
{% end %}

{% end %}

{% block sidebar %}
<div class="box">
    {% set author = handler.get_member(topic['author']) %}
    <header>{{ _("Author") }}</header>
    <img class="avatar" src="{{ handler.get_avatar(author) }}" />
    {% if author['role'] == -1 %}
    <span class="label label-important right">{{ _("Deactived") }}</span>
    {% end %}
    <p><a href="/member/{{ author['name'] }}" class="username">{{ author['name'] }}</a></p>
    {% if author['website'] %}
    <p><a href="{{ author['website'] }}" rel="nofollow">{{ author['website'] }}</a></p>
    {% end %}
</div>
{% if handler.check_role(owner_name=topic['author'], return_bool=True) %}
<div class="box">
    <header>{{ _("Admin") }}</header>
    <a href="/topic/{{ topic['_id'] }}/edit" class="btn one_third">{{ _("Edit") }}</a>
    <a href="/topic/{{ topic['_id'] }}/move" class="btn btn-warning one_third">{{ _("Move") }}</a>
    <a href="/topic/{{ topic['_id'] }}/remove" class="btn btn-danger one_third">{{ _("Remove") }}</a>
</div>
{% end %}
{% module node_sitebar(node) %}
{% end %}